
        <div style="background-color: #f5f5f5">
            <swiper [config]="config" style="height: auto">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="wrap">
                            <img src="assets/images/banner2.jpg" />
                            <div class="labelWrap">
                                <h2 style="background:rgba(255,255,255,0.5);display: table; padding: 10px;">
                                    Cámbiate a Claro y participa
                                </h2>
                                <p style="background:rgba(255,255,255,0.5);display: table; padding: 10px;">
                                    <span> Por un iPhone 11 Pro </span>
                                    <!-- <span> exclusivo online</span> -->
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="wrap">
                            <img src="assets/images/banner1.jpg" />
                            <div class="labelWrap">
                                <h2 style="background:rgba(255,255,255,0.5);display: table; padding: 10px;">
                                    Por la compra de tu
                                </h2>
                                <p style="background:rgba(255,255,255,0.5);display: table; padding: 10px;">
                                    <span> Samsung Galaxy Note 10+ </span>
                                    <span>
                                        llévate gratis el Samsung J2 Core</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="wrap">
                            <img src="assets/images/banner3.jpg" />
                            <div class="labelWrap">
                                <h2 style="background:rgba(255,255,255,0.5);display: table; padding: 10px;">
                                    Preventa exclusiva online
                                </h2>
                                <p style="background:rgba(255,255,255,0.5);display: table; padding: 10px;">
                                    <span>Emociónate con la tecnología</span>
                                    <span> de los nuevos Samsung</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="wrap">
                            <img src="assets/images/banner4.jpg" />
                            <div class="labelWrap">
                                <h2 style="background:rgba(255,255,255,0.5);display: table; padding: 10px;">
                                    Llévate tu laptop
                                </h2>
                                <p style="background:rgba(255,255,255,0.5);display: table; padding: 10px;">
                                    <span>con descuentos especiales</span>
                                    <span> del 20 al 29 de Febrero</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="wrap">
                            <img src="assets/images/banner5.jpg" />
                            <div class="labelWrap">
                                <h2 style="background:rgba(255,255,255,0.5);display: table; padding: 10px;">
                                    Llévate tu Tv
                                </h2>
                                <p style="background:rgba(255,255,255,0.5);display: table; padding: 10px;">
                                    <span>Con descuentos especiales</span>
                                    <span> del 20 al 29 de Febrero</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="wrap">
                            <img src="assets/images/banner6.jpg" />
                            <div class="labelWrap">
                                <h2 style="background:rgba(255,255,255,0.5);display: table; padding: 10px;">
                                    Llévate tu celular
                                </h2>
                                <p style="background:rgba(255,255,255,0.5);display: table; padding: 10px;">
                                    <span>Con descuentos especiales</span>
                                    <span> del 20 al 29 de Febrero</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </swiper>
        </div>
