<!--p-blockUI [blocked]="aProgressSpinner">
    <div class="splash-screen">
        <div class="splash-loader-container">
            <svg class="splash-loader" width="65px" height="65px" viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg">
                <circle class="splash-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30">
                </circle>
            </svg>
        </div>
    </div>
</!p-blockUI-->
<div class="container my-auto" >
    <div class="row mt-3">
        <div class="col-xs-8 col-lg-6 col-xl-6 ">
            <div class="row" style="padding-left:25px ;">
                <div style="margin-top: 20px;">
                <div class="col-12">
                    <h3 class="title-page" style="color: gray;">
                        Esta es la mejor oferta para tu cliente…
                    </h3>
                </div>
            </div>
            </div>
            <div class="row mt-3 mx-auto content-offer">

                <app-claro-ip-tv-offer [offer]="offer" (offerAction)="executeTaskConfirmBestOffer(true);" *ngIf="offer && offer.alias!==null">

                </app-claro-ip-tv-offer>

               <!--[oferta]="ofe" [index]="ofe.id" *ngFor="let ofe of oferta; let i = index"-->
            </div>
            <app-btn-volver-vista style="position:absolute; left: -80px;
            bottom: 153px;"></app-btn-volver-vista>
        </div>
        <div class="col-xs-12 col-lg-6 col-xl-6 p-0">
            <div class="back-div">
                <div class="float-right img-back-n">
                    <img src="assets/images/claroIpTv/minOffesrIpTv.jpg" style=" width: 114%;
                    height: 100%;
                    float: right!important;
                    margin-right: -20%; " alt="" />
                </div>
                <button type="button" class="btn btn-link"
                    style="position:absolute; left:-100px; bottom: 155px; font-size: 20px; text-decoration: underline">
                    <a (click)="executeTaskConfirmBestOffer(false);" style="color: #007bff">Ver más ofertas…</a>
                </button>
            </div>
        </div>
    </div>
</div>
<app-claro-video-modal-validaciones [message]="modal.message"  (hideModal)="hideModal()" [modal]="modal.visible" [type]="modal.type" ></app-claro-video-modal-validaciones>
