<!--p-blockUI [blocked]="aProgressSpinner">
    <div class="splash-screen">
        <div class="splash-loader-container">
            <svg class="splash-loader" width="65px" height="65px" viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg">
                <circle class="splash-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30">
                </circle>
            </svg>
        </div>
    </div>
</p-blockUI-->
<div class="container">
    <div class="row">
        <!-- Realiza el ingreso del formulario -->
        <div class="col-6">
            <div class="container my-auto">
                <div class="row">
                    <div class="col-sm">
                        <div class="float-right img-back">
                            <img src="assets/images/claroIpTv/ClaroIdHorPos.jpg" style="width: 40%; height: 40%; margin-left: -5px; " alt="" />
                        </div>
                    </div>
                </div>

            </div>
            <!-- Dibuja el formulario a dos columnas -->
            <form>
            <div class="container-fluid">
                <div class="col-sm">

                    <label class="title-page register" style="color: gray;">
                        Tu cliente no tiene un CLARO ID registrado. Para este producto necesitaras crearle uno.
                    </label>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10 mb-3">
                        <input class="form-control text-center" type="text" [(ngModel)]="cliente.nacionalidad"
                                id="nacionalidad" name="nacionalidad" required="required" placeholder="Nacionalidad">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10 mb-3">
                        <div class="row">
                            <div class="col-sm">
                                <input class="form-control text-center" type="text" [(ngModel)]="cliente.identificacion" [readOnly]="true"
                                    id="identificacion" name="identificacion" required="required" placeholder="Identificación">

                            </div>
                                <button class="btn btn-block col-sm-2"  (click)="buscar()" [disabled]="foreignUser"
                                id="buscar" type="button"> <img src="assets/images/usuario_.PNG" alt="" style="width: 48px;
                                height: 39px;
                                margin-top: -9px;
                                margin-left: -1px;margin-bottom:-5px">
                                </button>

                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10 mb-3">
                        <input class="form-control text-center" type="text" [(ngModel)]="cliente.nombres"
                                id="nombres" name="nombres" required="required" placeholder="Nombres">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10 mb-3">
                        <input class="form-control text-center" type="text" [(ngModel)]="cliente.apellidos"
                            id="apellidos" name="apellidos" required="required" placeholder="Apellidos">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10 mb-3">
                        <input class="form-control text-center" type="date" [(ngModel)]="cliente.fechaNacimiento"
                            id="fecha" name="fecha" required="required" placeholder="Fecha de Nacimiento  -  dd/mm/yyyy">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10 mb-3">
                        <div class="row">
                            <div class="col-sm-3">
                                <input class="form-control text-center" type="text"
                                    id="prefijo" required="required" placeholder="+593" >
                            </div>
                            <div class="col">
                                <input class="form-control text-center" type="text" [(ngModel)]="cliente.telefono"
                                    id="telefono" name="telefono" maxlength="10" required="required" placeholder="Teléfono móvil de contacto" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10 mb-3">
                        <input class="form-control text-center" type="email" [(ngModel)]="cliente.mail"
                            id="mail" name="mail" required="required" placeholder="nombre@ejemplo.com">
                        <label class="form-label" style="color: gray; margin-top: 0.5rem;">Este será tu nuevo CLAROID</label>
                    </div>
                </div>
                <!-- Diseño de boton -->
                <div class="row justify-content-center" style="width: 100%;">
                    <div class="col-8">
                        <button class="btn-continuar btn-lg btn-block" (click)="executeTaskEnterClaroIdData();">
                            <div class="d-flex justify-content-center">
                                <div style="display: flex; align-items: center; padding-left: 10px; padding-right: 10px;">
                                    Continuar proceso…
                                </div>
                                <div>
                                    <img src="assets/images/claroVideo/continuar.png" alt="">
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            </form>
        </div>

        <!-- Realiza el ingreso del dibujo lateral -->
        <div class="col p-0">
            <div class="float-right img-back-n">
                <!--<img src="assets/images/claroIpTv/claroIdIpTv.jpg" style="width: 119%; height: 100%; " alt="" />-->

            </div>
        </div>
    </div>
</div>

<app-claro-ip-tv-modal [message]="modal.message" (hideModal)="hideModal()" [modal]="modal.visible" [type]="modal.type"></app-claro-ip-tv-modal>
<app-claro-ip-tv-modal [message]="modalWithAction.message" (hideModal)="continue()" [modal]="modalWithAction.visible" [type]="modalWithAction.type"></app-claro-ip-tv-modal>
