<!-- <div class="content-popover"> -->
<div class="avi-close-desktop avi-close1-desktop poponer-content-left">
    <div class="avi-open-desktop avi-open1-desktop" style="display: block;">
        <div class="mensaje-open" *ngIf="activarpopover">
            <!-- <div class="ico-close"> X </div> -->
            <p class="color-blanco">
                <span style="display: block;margin-bottom: 16px;">
                    <i class="ui-icon-report" *ngIf="typeError.type=='ERROR'"
                        style="color: #e74c3c;font-size: 67px;"></i>
                    <i class="ui-icon-report-problem" *ngIf="typeError.type=='ALERT'"
                        style="color:#f1b606;font-size: 67px;"></i>
                    <i class="material-icons" *ngIf="typeError.type=='SUCCESS'"
                        style="color: #e30000;font-size: 67px;">check_circle</i>
                </span>
                <span style="line-height: 24px;">
                    El correo jperez@gmail.com ya esta siendo
                    usado en otra suscripción de Claro Video. Debes ingresar un nuevo correo electrónico.
                </span>
                <button pbutton="" type="button" label="Entendido" style="display: block;margin: 0 auto;"
                    class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only color-botttom"><span
                        class="ui-button-text ui-clickable" (click)="actionClose()">Entendido</span><span
                        class="ink ripple-animate"
                        style="height: 61px; width: 61px; top: -12.8px; left: 6.48334px; pointer-events: none;"></span></button>
            </p>

        </div>
    </div>
    <div class="info-avi-close">

        <!-- <div  class="content-avi-close">
                <h3  class="color-blanco">HOLA, SOY AVI</h3>
                <p  class="color-blanco">Yo te ayudaré en el proceso de solicitud<br >de
                    cuenta en linea....</p>
            </div> -->
    </div>
</div>



<!-- </div> -->
