
<div class="avi-close-desktop avi-close1-desktop poponer-content-left">
    <div class="avi-open-desktop avi-open1-desktop" style="display: block;">
        <div class="mensaje-open" *ngIf="activarpopover" style="font-size: 12px;">

            <blockquote class="rectangle-speech-border">
                <!-- <p>{{offer.detalle2}}
                    </p> -->
                    <ul >
                        <li>
                            <div class="ui-g mx-auto " style="font-size: 12px;">
                                <div class="ui-g-4 my-auto" style="text-align: start;">
                                    Nombre
                                </div>
                                <div class="ui-g-8" style="line-height: 10px;">
                                    {{offer.offerName}}

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ui-g mx-auto " style="font-size: 12px;"> 
                                <div class="ui-g-4 my-auto" style="text-align: start;">
                                    Precio
                                </div>
                                <div class="ui-g-8" style="line-height: 10px;">
                                    {{offer.priceTotal}}

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ui-g mx-auto " style="font-size: 12px;">
                                <div class="ui-g-4 my-auto"  style="text-align: start;">
                                    Código de Oferta

                                </div>
                                <div class="ui-g-8" style="line-height: 10px;">
                                        {{offer.offerCode}}
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ui-g mx-auto " style="font-size: 12px;"> 
                                <div class="ui-g-4 my-auto"  style="text-align: start;">
                                    Descripcion
                                </div>
                                <div class="ui-g-8" style="line-height: 10px;">
                                        {{offer.longDescription}}
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="ui-g ">
                        <div class="ui-g-6" style="display: block; margin: auto;"  >
                            <button (click)="actionClose()" type="button" class="btn btn-primary btn-block" >Entendido</button>
                        </div>
                    </div>
            </blockquote>

        </div>
    </div>
</div>