
<p-dialog [(visible)]="display">
    <span style="display: block;  text-align: center; margin-bottom: 16px;">
        <i class="ui-icon-report-problem" style="color:#f1b606;font-size: 67px;"></i>
    </span>
    <div style="line-height: 24px; text-align: center; padding: 15px;">
        <span>
            {{message}}
        </span>
    </div>


    <div style="width: 100%;">
        <button type="button" class="mx-auto" style="width: 100%;     background: #e03232;" pButton
            (click)="display=false" label="Aceptar"></button>
    </div>

</p-dialog>