<div class="avi-close-desktop avi-close1-desktop poponer-content-left">
    <div class="avi-open-desktop avi-open1-desktop" style="display: block;">
        <div class="mensaje-open" *ngIf="activarpopover" style="font-size: 14px;">

            <blockquote class="rectangle-speech-border">
                <!-- <p>{{offer.detalle2}}
                    </p> -->
                <ul >
                    <li style="list-style: none;">

                        <div class="" style=" margin-top: -20px!important;
                                margin-left: -28px!important; text-align: left;">

                            <p  style="font-size: 17px!important;text-align: left;margin-left: 7px;">{{offer.offerDescription}} <br>  Por sólo $ {{offer.priceTotal}} {{offer.productType}}
                                <br>{{offer.aditionalDescription}} <br><b>Incluye:</b> <br> &nbsp;&nbsp; {{offer.products[0].shortName}} - {{offer.products[0].productId}} <br> &nbsp;&nbsp; {{offer.products[1].shortName}} - {{offer.products[1].productId}}
                            </p>

                            <div class="" style="display: block; margin: auto;"  >
                                <button style=" margin-left: 87px;
                                        margin-top: -3px;
                                        background: #2f4050;
                                        border-color: black;
                                        color: #ffffff!important;
                                        width: 270px;" (click)="actionClose()" type="button" class="btn btn-light " >Entendido</button>
                            </div>
                        </div>


                    </li>

                </ul>


            </blockquote>

        </div>
    </div>
</div>
