<div class="global">
    <!--<img src="../../../assets/images/b2eimages/bkgqr.png" class="bkg-img" alt="">-->

        <div class="row">

            <div class="texto-contenedor col-6">
                <img src="../../../../assets/images/claro-logo-8.png"  style="width: 200px; " alt="logo">

                <h3 style="font-weight: 100">
                    <br>
                    ¡Felicidades!<br>
                    <br>
                    Estás listo para usar<br> 
                    <br>
                    Claro EDX APP.<br>
                    <br>
                    <!--<b>El código expira en 1 minuto</b><br>-->
                </h3>
            </div>
            
            <div class="qr-imagen col-6">
                <!--<img src="../../../assets/images/b2eimages/frameqr.png" alt="">-->
                <!--<img [src]="codimg" alt="codigo-qr" style="width: 350px; height: 350px;">-->
            </div>
        </div>
    
    
</div>
