<header>
    <div style="margin-left: 12px; margin-right: 12px;">
        <div class="ui-g-9">
            <div class="row">

                <img style="width: 8vw; height: auto;  vertical-align: text-bottom;"
                    src="assets/images/bundle/Header/logoclaro.png">
                <span style=" margin-left: 13px; margin-top: 10px; line-height: 2rem;  font-size: 2rem; ">
                    iBPM – Intelligent Business Process Management
                </span>
            </div>
            <div class="row" >
                <div class="ng-star-inserted" style="margin-top: 10px; height: auto;">
                    <img alt="" src="assets/images/bundle/Header/rama.png" style="width: 110px;">
                    <span title="{{titulo}}" style="display: inline-block; width: 93%;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;
                        text-overflow: ellipsis;line-height: 35px;position: relative;left: 80px;top: -90px;color: #838282;font-weight: bold;font-size: 1.5rem;">
                        {{titulo}}
                    </span>
                    <span style="display: block;position: relative;top: -60px;left: 122px;color: #838282;font-weight: bold;font-size: 1.5rem">
                        {{subtitulo}}
                    </span>
                </div>
            </div>
        </div>
        <div class="ui-g-3">
            <img alt="" src="assets/images/bundle/Header/logobpm.jpg" style="width: 25vw;">

        </div>
    </div>

</header>