%<p-dialog [style]="{width: '95%'}" [(visible)]="activarpopover">

    <div class="row justify-content-center" style="margin: 0;">
        <img src="assets/images/claroVideo/admiracion.png" alt=""
            style="width: 40px; height: auto; background: transparent;">
    </div>

    <div class="row" style="margin: 0;">
            <app-claro-video-editar-claro-id style="width: 100%;" ></app-claro-video-editar-claro-id>
    </div>
    <div class="row justify-content-center" style="margin: 0;">
        <!-- <div class="col align-self-center">
        </div> -->
        <button type="button" class="mx-auto" pButton (click)="ocultar()" label="Actualizar"></button>

    </div>

</p-dialog>