$primaryColor: #da291c;
$primaryDarkColor: #da291c;
$primaryLightColor: #686868;
$accentColor: #3f3a36;
$accentDarkColor: #ad1457;
$accentLightColor: #f48fb1;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';
