
<div class="principal-body row">
    <div class="cards-container">
        <div class="card" style="width: 18rem;">
            <img src="../../../../assets/ser-optimus/yellow.jpg" class="card-img-top" alt="Archivos de Pago Principales">
            <div class="card-body">
              <h5 class="card-title">Directorio Principal</h5>
              <p class="card-text">/principal</p>
              <a class="btn btn-primary"
                    placement="bottom"
                    ngbTooltip="Consulte archivos en carpeta /principal"
                    (click)="loadFileView('principal')">
                    <i class="fa fa-folder-open"></i>
                    Ver Archivos
              </a>
            </div>
        </div>
    </div>

            <!--*******************************************************-->
                <!--CARD / MUESTRA LOS ARCHIVOS DEL DIRECTORIO TRASH-->

    <!--<div class="cards-container col-md-3 col-sm-12">
        <div class="card" style="width: 18rem;">
            <img src="../../../../assets/ser-optimus/green.jpg" class="card-img-top" alt="Archivos de Pagos Eliminados ">
            <div class="card-body">
              <h5 class="card-title">Directorio Eliminados</h5>
              <p class="card-text">/trash</p>
              <a class="btn btn-primary"
                    placement="bottom"
                    ngbTooltip="Consulte archivos en carpeta /trash"
                    (click)="loadFileView('trash')">
                    <i class="fa fa-folder-open"></i>
                    Ver Archivos
              </a>
            </div>
        </div>
    </div>-->

</div>
