<p-blockUI [blocked]="aProgressSpinner">
    <div class="splash-screen">
        <div class="splash-loader-container">
            <svg class="splash-loader" width="65px" height="65px" viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg">
                <circle class="splash-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30">
                </circle>
            </svg>
        </div>
    </div>
</p-blockUI>
<div class="row" style="margin:0">
    <div style="width: 100%;" >
        <div class="float-right" style="width: 130px; height: auto;  margin-right: 10%; margin-top: 1%; margin-bottom: 1%;">
            <img style="width: 100%; height: 100%;" src="assets/images/claroVideo/Imagen5.png">
        </div>
    </div>
</div>


<div class="row" style="margin:0">
    <div class="ui-g-10 my-auto">
        <h4 style=" margin-left:7vw;font-weight: 300;font-size: 2.5rem;"> Selecciona la oferta para tu cliente… </h4>
    </div>

    <div class="ui-g-2">
        <div style="height: 60px; ">
            <app-btn-volver-vista style="margin-right: 10%;"></app-btn-volver-vista>
            <!-- <app-btn-ver-flujo style="margin-right: 10%;"></app-btn-ver-flujo> -->

        </div>
    </div>
</div>
<div class="content-section implementation carousel-all-offer">


    <p-carousel [value]="offers" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1" 
        [responsiveOptions]="responsiveOptions">
        <!-- <p-header>
            <h3 class="title-page"></h3>
        </p-header> -->


        <ng-template let-offer pTemplate="item">
            <!-- <app-claro-video-offer [offer]="offer"  ></app-claro-video-offer> -->
            <div class="car-details">
                <div class="p-grid p-nogutter mx-auto">
                    <div class="p-col-12" style="padding: 20px;">
                        <!-- <img [src]="offer.imagePath + offer.imageFileName"  -->
                            <!-- <img src="assets/images/claroVideo/claroVideoBlack.png"  -->
                        <img [src]="offer.imagePath + offer.imageFileName" 
                        onerror="this.src='assets/images/claroVideo/claroVideoBlack.png'"
                        class="mx-auto" style="display: block ; width: 100%; -webkit-clip-path: polygon(0 0, 77% 0, 100% 19%, 100% 100%, 80% 100%, 22% 100%, 0 84%, 0% 20%);
                        clip-path: polygon(0 0, 77% 0, 100% 19%, 100% 100%, 80% 100%, 22% 100%, 0 84%, 0% 20%);" />
                    </div>
                    <div class="p-col-12 car-data">
                        <div class="row mx-auto border-claro" placement="right" [ngbPopover]="ShowEmployeeProfile"
                            popoverClass="my-custom-class " popoverTitle="">
                            <div class="col-4 icon-imagen">
                                <img src="assets/images/claroVideo/Imagen4.png" alt="">
                            </div>
                            <div class="col-8 my-auto" style="text-align: center; 
                            font-size: 0.8rem;">
                                {{ offer.offerName }}
                            </div>
                        </div>
                        <div class="car-subtitle">
                            <div style="margin: 40px;">
                                <button (click)="verOffer(offer)"
                                    class="btn btn-danger btn-lg btn-block">Activar</button>
                                <!-- <a [href]="'/#/best-pay/offer.id " class="btn btn-DANGER btn-lg btn-block">Activar</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
<app-claro-video-modal-validaciones [message]="modal.message"  (hideModal)="hideModal()" [modal]="modal.visible" [type]="modal.type" ></app-claro-video-modal-validaciones>