<div >
    <div style="border-radius: 35px;border: 1px solid rgb(212, 208, 208);padding: 11px; margin-top: 10px; margin-left: 10px; margin-right: 10px; height: auto;">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-4 col-md-3 col-xl-2">
                        <img src="assets/images/bundle/Imagen1.png"  alt="">
                    </div>
                    <div class="col-8 col-md-9 col-xl-10" style="padding-left: 30px;">
                        <div class="row">
                            Juan Francisco Garcia Pereira
                        </div>
                        <div class="row">
                            <span style="font-size: 15px;">
                            <img src="assets/images/bundle/Imagen2.png" style="margin-right: 15px;" alt="">
                                09314408926
                            </span>
                        </div>
                        <div class="row">
                            <span style="font-size: 15px;">
                                <img src="assets/images/bundle/Imagen3.png" style="margin-right: 15px;" alt=""> dtumbacol@gmail.com
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 my-auto">
                <div class="my-auto " style="margin: 10px 0;">
                    <div class="row">
                        <div class="col-2">
                            <img src="assets/images/claroVideo/bandera.png" alt="">
                        </div>
                        <div class="col-4" style="padding-left: 0px;">
                            <input type="text" style="width: 100%;" placeholder="Pais" />
                        </div>
                        <div class="col-6" >
                            <input type="text" style=" width: 100%;" placeholder="Ciudad / Canton" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-2">
                            <img src="assets/images/claroVideo/localizacion.png" style="margin-right: 15px;" alt="">
                        </div>
                        <div class="col-10" style="padding-left: 0px; margin: auto;">
                            <input type="text" style="width: 100%;" placeholder="Direccion" />
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row " style="margin: 10px;">
        <div class="col-12 col-xl-6 ">
            <div class="row" style="margin: 5px 0;">
                <div class="col-2 ">
                    <img src="assets/images/bundle/Imagen3.png" style=" width: 40px; height: auto;"
                        alt="">

                </div>
                <div class="col-10 " style="padding-left: 0px; margin: auto;">
                    <input type="text" style="width: 90%;"
                        placeholder="Correo electrónico. (Este será el Claro ID del cliente)" />

                </div>
            </div>
            <br />
            <div class="row" style="margin: 5px 0;">
                <div class="col-2">
                    <img src="assets/images/bundle/Imagen4.png" style=" width: 40px; height: auto;"
                        alt="">

                </div>
                <div class="col-10 "  style="padding-left: 0px; margin: auto;">
                    <input type="text" style="width: 30%;" placeholder="16 Mayo 1998" />

                </div>
            </div>
            <br />
            <div class="row" style="margin: 5px 0;">
                <div class="col-2">
                    <img src="assets/images/bundle/2FA.png" style="margin-right: 15px;  width: 35px; height: 35px;"
                        alt="">
                </div>
                <div class="col-7" style="padding-left: 0px; text-align: start;">
                    <span style="width: 100%;">
                        Habilitar segundo factor de autenticación

                    </span>
                </div>
                
                <div class="col-1">
                    <input type="checkbox" style="width: 25px; height: 25px;" />
                </div>
            </div>
            <br />
            <div class="row" style="margin: 5px 0 ;">
                <div class="col-2">
                    <img src="assets/images/bundle/question.png" style="margin-right: 15px;  width: 35px; height: 35px;"
                        alt="">
                </div>
                <div class="col-7" style="padding-left: 0px; text-align: start;">
                    <span style="width: 100%;">
                        Contestar preguntas de seguridad para restablecer contraseña
                    </span>
                </div>
                
                <div class="col-1">
                    <input type="checkbox" style="width: 25px; height: 25px;" />
                </div>
            </div>

        </div>
        <div class="col-12 col-xl-4">
            <div class="row"  style="margin: 5px 0;">
                <div class="col-2">
                    <img src="assets/images/bundle/movil.png" style=" width: 35px; height: 35px;"
                        alt="">

                </div>
                <div class="col-9" style="padding-left: 0px; margin: auto; text-align: center;">
                    <input type="text" style="width: 100%;"
                        placeholder="Número Móvil de Contactos" />

                </div>
                <div class="col-1" style="padding-left: 0px; margin: auto; text-align: center;">
                    <input type="checkbox" style="width: 25px; height: 25px;" />
                </div>
            </div>
            <br/>
            <div class="row"  style="margin-left: 5px ">
                <div  style="border-style: solid 3px #000000;">Informar sobre estos temas al cliente
                    <div class="p-grid" > 
                        <div class="col-12" style="margin: 10px;">
                            <p-checkbox name="groupname" value="it1" label="Novedades e Información"></p-checkbox>
                        </div>
                        <div class="col-12" style="margin: 10px;">
                            <p-checkbox name="groupname" value="it2" label="Servicios, planes y promociones"></p-checkbox>
                        </div>
                        <div class="col-12" style="margin: 10px;">
                            <p-checkbox name="groupname" value="it3" label="Claro Video"></p-checkbox>
                        </div>
                        <div class="col-12" style="margin: 10px;">
                            <p-checkbox name="groupname" value="it4" label="Claro Música"></p-checkbox>
                        </div>
                        <div class="col-12" style="margin: 10px;">
                            <p-checkbox name="groupname" value="it5" label="Información de Cobranza"></p-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>