

<ng-template let-modal #content >
        
        <div class="modal-body">
            <div style="text-align: center; margin-bottom: 20px;">
                <img  src="assets/images/update-password/security.png" alt="Security">
            </div>            
            
            <div style="text-align: center;">
                {{message}}
            </div>
           
        </div>
    
    
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-outline-light"
                (click)="modal.close('')">{{btnLabel}}</button>
        </div>
    
    
</ng-template>

<div class="container-fluid claro-bg-image" style="height: 100vh;">
    <div class="row">
        <div class="col-12 col-lg col-md col-sm containerText align-items-center topAPP" style="height: 60vh;">
            <div class="bg-dark text-white fadeIn animated">
                <div class="card-body card-img-overlay fadeIn animated">

                    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2 row-cols-sm-1">
                        <div class="col-lg-8 col-xl-8 col-sm">

                            <h2 class="card-title"> <img src="assets/images/claro.png" style="width: 100px; " alt="logo"> EDX</h2>
                            <hr style="background-color: white;">                                        
                            <p class="card-text text-white">Hola {{profile["firstName"]}} {{profile["lastName"]}}, aquí puedes cambiar tu contraseña de acceso. Recuerda que tu credencial debe cumplir con los siguientes requisitos.</p>
                            <ul>
                                <li>Debe tener letras y números</li>
                                <li>Debe tener por lo menos una letra mayúscula</li>
                                <li>Debe contener por lo menos un carácter especial</li>
                                <li>Debe tener letras y números</li>
                            </ul>

                        </div>

                        <div class="col-lg-4 col-xl-8 col-sm">
                            
                            <form [formGroup]="form" (ngSubmit)="updatePassword()" class="edx-form fadeIn animated">
                                <div class="col-xs-12 col-12 col-md-10 form-group">

                                    <div class="input-group">

                                        <input class="form-control" type="password" name="password" autocomplete="off"  formControlName="currentPassword" placeholder="Ingrese su contraseña temporal">
                                        <span class="focus-input100"></span>
                                    </div>
                                    <div *ngIf="isValidInput('currentPassword')" class="alert alert-danger">
                                        <div *ngIf="form.controls['currentPassword'].errors.required">
                                            La contraseña temporal es requerida
                                        </div>
                                    </div>

                                    <br>
                                    <div class="input-group">

                                        <input class="form-control" type="password" name="password" autocomplete="off"  formControlName="newPassword" placeholder="Ingrese su contraseña">
                                        <span class="focus-input100"></span>
                                    </div>

                                    <div *ngIf="isValidInput('newPassword')" class="alert alert-danger">
                                        <div *ngIf="form.controls['newPassword'].errors.required">
                                            La contraseña es requerida
                                        </div>
                                        
                                        <div *ngIf="form.controls['newPassword'].errors.minlength">
                                            La contraseña debe tener minimo 8 caracteres
                                        </div>

                                    </div>

                                    <br>
                                    <div class="input-group">

                                        <input class="form-control" type="password" name="password2"  autocomplete="off" formControlName="repeatPassword" placeholder="Repita su contraseña">
                                        <span class="focus-input100"></span>
                                    </div>

                                    <div *ngIf="isValidInput('repeatPassword')" class="alert alert-danger">
                                        <div *ngIf="form.controls['repeatPassword'].errors.required">
                                            La contraseña es requerida
                                        </div>
                                        <div *ngIf="form.controls['repeatPassword'].errors.mustMatch">
                                            La contraseña no coincide
                                        </div>
                                        <div *ngIf="form.controls['repeatPassword'].errors.minlength">
                                            La contraseña debe tener minimo 8 caracteres
                                        </div>
                                    </div>

                                    <br>
                                    <button type="submit" class="btn btn-sm form-control2 btn-outline-dark btn-block">Siguiente</button>


                                </div>
                            </form>

                        </div>
                    </div>

                    
                </div>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 col-md-8 col-sm-8">
            <!-- Container Right -->
        </div>
    </div>
</div>