<div class="hero signin">


    <h1 class="sr-only">Apple&nbsp;ID</h1>


    <div id="authWidgetContainer" class="auth-widget-container">

        <div class="si-body si-container container-fluid" id="content" data-theme="lite">
            <div class="widget-container  fade-in restrict-min-content  restrict-max-wh  fade-in " data-mode="embed"
                data-isiebutnotedge="false">

                <div id="step" class="si-step  ">
                    <!-- <div class="logo   signin-label  fade-in ">

                        <img class="cnsmr-app-image "
                            src="https://appleid.cdn-apple.com/static/bin/cb3430768946/dist/assets/images/appleid_i18n/aid_logo@2x.png"
                            srcset="" style="width: 200px;" alt="Apple ID">
                    </div> -->



                    <div id="stepEl" class="    ">


                        <div class="signin fade-in" id="signin">
                            <h1 tabindex="-1" style="color: #000;" class="si-container-title tk-intro claro-id "> Claro
                                ID
                            </h1>
                            <div class="container si-field-container  password-second-step     ">
                                <div id="sign_in_form" class="signin-form




       fed-auth



         hide-password
      ">
                                    <div class="si-field-container container">
                                        <div class="form-table">
                                            <div class="ax-vo-border      firefox"></div>
                                            <div class="account-name form-row    ">
                                                <label class="sr-only form-cell form-label"
                                                    for="account_name_text_field">Claro
                                                    ID</label>
                                                <div class="form-cell">
                                                    <div class="form-cell-wrapper">
                                                        <input type="text"
                                                            class="force-ltr form-textbox form-textbox-text"
                                                            id="account_name_text_field" can-field="accountName"
                                                            autocomplete="off" autocorrect="off" autocapitalize="off"
                                                            aria-required="true" required="required" spellcheck="false"
                                                            placeholder="Correo electrónico" autofocus="">
                                                        <span aria-hidden="true" id="apple_id_field_label"
                                                            class=" form-label-flyout">
                                                            <!-- Claro ID -->
                                                            &nbsp;
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field-separator firefox   "></div>
                                            <div class="password form-row     " aria-hidden="true">
                                                <label class="sr-only form-cell form-label"
                                                    for="password_text_field">Fecha de nacimiento</label>
                                                <div class="form-cell">
                                                    <div class="form-cell-wrapper">
                                                        <input type="text" class="form-textbox form-textbox-text"
                                                            id="password_text_field" aria-required="true"
                                                            required="required" can-field="password" autocomplete="off"
                                                            placeholder="Fecha de nacimiento" tabindex="-1">
                                                        <span aria-hidden="true" id="apple_id_field_label"
                                                            class=" form-label-flyout">
                                                            <!-- Fecha de nacimi  &nbsp;  &nbsp;  &nbsp;ento -->
                                                            &nbsp;&nbsp;&nbsp;  &nbsp; &nbsp;&nbsp;
                                                        </span>
                                                        <span class="sr-only form-label-flyout"
                                                            id="invalid_user_name_pwd_err_msg" aria-hidden="true">

                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- <div class="si-remember-password">
                                    <input type="checkbox" id="remember-me" class="form-choice form-choice-checkbox">
                                    <label id="remember-me-label" class="form-label" for="remember-me">
                                        <span class="form-choice-indicator"></span> Remember me
                                    </label>
                                </div> -->
                                <div class="spinner-container auth  hide "></div>
                                <button id="sign-in" tabindex="0"
                                    class="si-button btn  fed-ui   fed-ui-animation-show   disable   remember-me  "
                                    aria-label="
                                            Continue
                                        " aria-disabled="true" disabled="">
                                    <i class="icon icon_sign_in"></i>
                                    <span class="text feat-split">

                                        Continuar

                                    </span>
                                </button>
                                <!-- <button id="sign-in-cancel" aria-disabled="false" tabindex="0"
                                    class="si-button btn secondary feat-split  remember-me  " aria-label="Close">
                                    <span class="text"> Close

                                    </span>
                                </button> -->
                            </div>
                            <div class="si-container-footer">


                            </div>
                        </div>





                    </div>
                </div>
                <div id="stocking" style="display:none !important;"></div>







            </div>


        </div>


    </div>

</div>
