<div class="div_prima_mensual">
    <div class="tabla_resumen uk-overflow-container" style="display: inline-flex;">
        <div>
            <img style="width: 40px;" alt="" src="assets/images/icons/general/info.png">
        </div>

        <div style="text-align: justify;margin-left: 5px;font-size: 12px;color: gray;">
            <p>
                {{mensaje1}}
                <a (click)="redirect()" style="cursor: pointer;text-decoration: underline;color: #3b9de8;">aquí</a>
                {{mensaje2}}
            </p>
        </div>
        
    </div>
</div>