<div class="global-container d-none d-sm-none d-md-block">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active">

                <div class="row">

                    <div class="wrapper col-4 d-block w-100" (click)="actionHandler('OPEN_REDIRECT_MENU')"
                        [routerLink]="['/resumen', 'pacifico']">
                        <div class="box">
                            <img src="../../../../assets/ser-optimus/bgmenu-bpacifico.png" class="d-block w-100"
                                alt="Pagos Digitales en Banco del Pacifico">
                            <div class="card-tittle">
                                <h2 id="financiera">Banco Pacifico</h2>
                                <p class="card-text">Digital Payment para transaccion es de Banco del Pacifico
                                    exclusivamente</p>

                            </div>
                        </div>
                    </div>

                    <div class="wrapper col-4 d-block w-100" (click)="actionHandler('OPEN_REDIRECT_MENU')"
                        [routerLink]="['/resumen', 'pichincha']">
                        <div class="box">
                            <img src="../../../../assets/ser-optimus/bgmenu-bpichincha.png" class="d-block w-100"
                                alt="Pagos Digitales en Banco del Pichincha">
                            <div class="card-tittle">
                                <h2 id="financiera">Banco Pichincha</h2>
                                <p>Pagos Digitales para transacciones de Banco del Pichincha exclusivamente</p>

                            </div>
                        </div>
                    </div>

                    <div class="wrapper col-4 d-block w-100" (click)="actionHandler('OPEN_REDIRECT_MENU')"
                        [routerLink]="['/resumen', 'bolivariano']">
                        <div class="box">
                            <img src="../../../../assets/ser-optimus/bgmenu-bolivariano.png" class="d-block w-100"
                                alt="Pagos Digitales en Banco Bolivariano">
                            <div class="card-tittle">
                                <h2 id="financiera">Banco Bolivariano</h2>
                                <p class="card-text">Digital Payment para transaccion es de Banco Bolivariano
                                    exclusivamente</p>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!--  -->



            <div class="carousel-item">

                <div class="row">

                    <div class="wrapper col-4 d-block w-100" (click)="actionHandler('OPEN_REDIRECT_MENU')"
                        [routerLink]="['/resumen', 'guayaquil']">
                        <div class="box">
                            <img src="../../../../assets/ser-optimus/bgmenu_guayaquil.jpg" class="d-block w-100"
                                alt="Pagos Digitales en Banco de Guayaquil">
                            <div class="card-tittle">
                                <h2 id="financiera">Banco Guayaquil</h2>
                                <p class="card-text">Digital Payment para transaccion es de Banco del Guayaquil
                                    exclusivamente</p>

                            </div>
                        </div>
                    </div>

                    <div class="wrapper col-4 d-block w-100" (click)="actionHandler('OPEN_REDIRECT_MENU')"
                        [routerLink]="['/resumen', 'produbanco']">
                        <div class="box">
                            <img src="../../../../assets/ser-optimus/produbanco.png" class="d-block w-100"
                                alt="Pagos Digitales en Produbanco">
                            <div class="card-tittle">
                                <h2 id="financiera">Banco Produbanco</h2>
                                <p class="card-text">Digital Payment para transacciones de Banco de produbanco exclusivamente</p>

                            </div>
                        </div>
                    </div>

                     <div class="wrapper col-4 d-block w-100" (click)="actionHandler('OPEN_REDIRECT_MENU')"
                        [routerLink]="['/resumen', 'conecel']">
                        <div class="box">
                            <img src="../../../../assets/ser-optimus/bgmenu-interbank.png" class="d-block w-100"
                                alt="Pagos Digitales en varias entidades financieras">
                            <div class="card-tittle">
                                <h2 id="financiera">Produbanco - Interbancario</h2>
                                <p>Pagos Digitales para transacciones interbancarias</p>

                            </div>
                        </div>
                    </div>




                </div>

            </div>

            <!--  -->










            <div class="carousel-item">

                <div class="row">

                    <div class="wrapper col-4 d-block w-100" (click)="actionHandler('OPEN_REDIRECT_MENU')"
                        [routerLink]="['/resumen', 'produbanco']">
                        <div class="box">
                            <img src="../../../../assets/ser-optimus/produbanco.png" class="d-block w-100"
                                alt="Pagos Digitales en Produbanco">
                            <div class="card-tittle">
                                <h2 id="financiera">Banco Produbanco</h2>
                                <p class="card-text">Digital Payment para transacciones de Banco de produbanco exclusivamente</p>

                            </div>
                        </div>
                    </div>

                    <div class="wrapper col-4 d-block w-100" (click)="actionHandler('OPEN_REDIRECT_MENU')"
                        [routerLink]="['/resumen', 'pichincha']">
                        <div class="box">
                            <img src="../../../../assets/ser-optimus/bgmenu-bpichincha.png" class="d-block w-100"
                                alt="Pagos Digitales en Banco del Pichincha">
                            <div class="card-tittle">
                                <h2 id="financiera">Banco Pichincha</h2>
                                <p>Pagos Digitales para transacciones de Banco del Pichincha exclusivamente</p>

                            </div>
                        </div>
                    </div>                   

                    <div class="wrapper col-4 d-block w-100" (click)="back()">
                        <div class="box">
                            <img src="../../../../assets/ser-optimus/bgmenu-backtomenu.png" class="d-block w-100"
                                alt="Regresar al menu anterior">
                            <div class="card-tittle">
                                <h2 id="financiera">Volver a la selección anterior</h2>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next"  href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
</div>

<!--VISTA MOVIL-->

<div class="global-container d-block d-sm-block d-md-none">

    <div class="row">

        <div class="wrapper">

            <div class="menu-item">

                <div class="container-item box" (click)="actionHandler('OPEN_REDIRECT_MENU')"
                    [routerLink]="['/resumen', 'pichincha']">

                    <img src="../../../../assets/ser-optimus/bgmenu-bpichincha-sm.png" alt="entidades-financieras"
                        class="rounded mx-auto d-block img-fluid">

                </div>

            </div>

            <div class="menu-item">

                <div class="container-item box" (click)="actionHandler('OPEN_REDIRECT_MENU')"
                    [routerLink]="['/resumen', 'pacifico']">

                    <img src="../../../../assets/ser-optimus/bgmenu-bpacifico-sm.png" alt="entidades-financieras"
                        class="rounded mx-auto d-block img-fluid">

                </div>

            </div>

            <div class="menu-item">

                <div class="container-item box" (click)="actionHandler('OPEN_REDIRECT_MENU')"
                    [routerLink]="['/resumen', 'bolivariano']">

                    <img src="../../../../assets/ser-optimus/bgmenu-bolivariano-sm.png" alt="entidades-financieras"
                        class="rounded mx-auto d-block img-fluid">
                </div>

            </div>

            <div class="menu-item">

                <div class="container-item box" (click)="actionHandler('OPEN_REDIRECT_MENU')"
                    [routerLink]="['/resumen', 'guayaquil']">

                    <img src="../../../../assets/ser-optimus/bgmenu-bguayaquil-sm.png" alt="entidades-financieras"
                        class="rounded mx-auto d-block img-fluid">

                </div>

            </div>

            <div class="menu-item">

                <div class="container-item box" (click)="actionHandler('OPEN_REDIRECT_MENU')"
                    [routerLink]="['/resumen', 'interbank']">

                    <img src="../../../../assets/ser-optimus/bgmenu-interbank-sm.png" alt="entidades-financieras"
                        class="rounded mx-auto d-block img-fluid">

                </div>

            </div>

        </div>

    </div>

</div>

<app-back-to-bottom class="d-none d-sm-none d-md-block"></app-back-to-bottom>