<div class="swiper-slide">
    <div style="margin: 0 50px;">
        <h1>Iphone Seguro</h1>
        <p style="margin-bottom:10px;">
            Seguro por un año de tu dispositivo
        </p>

        <div style="margin-bottom:20px">
            <button
                icon="ui-icon-refresh"
                label="Refresh"
                pbutton=""
                type="button"
                ng-reflect-label="Refresh"
                (click)="buscar(); usefulSwiper.swiper.slideTo(1, 2000, true)"
                ng-reflect-icon="ui-icon-refresh"
                class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left"
            >
                <span
                    aria-hidden="true"
                    class="ui-button-icon-left ui-clickable ui-icon-refresh"
                ></span
                ><span class="ui-button-text ui-clickable"
                    >Activa la Oferta</span
                >
            </button>
        </div>
    </div>
</div>
