<p-blockUI [blocked]="aProgressSpinner">
    <div class="splash-screen">
        <div class="splash-loader-container">
            <svg class="splash-loader" width="65px" height="65px" viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg">
                <circle class="splash-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30">
                </circle>
            </svg>
        </div>
    </div>
</p-blockUI>
<app-back-to-bottom></app-back-to-bottom>
<section class="section-content" style="width: 100%">
    <!-- <section class="section-content" [ngStyle]="{'max-width': activarbtnPrevNext?'1240px':''}"> -->

    <div style="margin: 10px 30px;">
        <div class="row justify-content" >
            <div class="ui-g-10 my-auto title-align">
                <img alt="" src="assets/images/bundle/Header/logoclaro.png" class="logoClaro">
                <span class="pageDescription">Estas son las ofertas activadas al servicio o suscripción…
                </span>
            </div>
    
            <div style="display: flex; width: 140px; justify-content: space-between; padding: 10px;" >
                <div style="height: 60px; ">
                    <app-btn-volver-busqueda-cliente style="margin-right: 10%;"></app-btn-volver-busqueda-cliente>
                </div>
                <div style="height: 60px; ">
                    <app-btn-volver-vista style="margin-right: 10%;"></app-btn-volver-vista>    
                </div>
            </div>
        </div>

        <div class="row">
            <personal-information-process style="width: 100%;"></personal-information-process>
        </div>

        <div style="width: 100%; border-bottom: 1px solid #888282; margin-bottom: 20px; padding: 10px 0px 0px;">
            <h4 style="color: #838282; font-weight: bold; font-size: 18px;">
                <span title="Suscripción" >{{selectedSubscription.subscriptionInformation.properties.subproductDescription}}</span> <span title="Codigo de Contrato" >({{selectedSubscription.subscriptionInformation.properties.contractId}})</span>
                 
            </h4>
        </div>

        <div class="row">
            <div class="col-12 col-lg-3">
                <app-lista-servicios [subscription]="selectedSubscription"  style="width: 100%;"></app-lista-servicios>

            </div>
            <div class="col-12  col-lg-9">
                <app-grid-servicios [subscription]="selectedSubscription" (loadinpage)="loadinpageClick($event)" style="width: 100%;"></app-grid-servicios>

            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <app-mensaje-info-servicio></app-mensaje-info-servicio>
        </div>
    </div>
</section>